.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-top: 30px;
}
.item{
  color: black;
  font-size: large;
  height: 40px;
  border-bottom: 3px solid rgb(136, 136, 136);
  // margin-left: 60px;
}